.home1{
    border:0.4rem solid black;
}
.c1{
    border-left:0.2rem solid black;
    background-color: #000080;
    color: white;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 1.5rem;
}
h3{
    font-size: 2rem;
    text-decoration: underline;
}
.homeb1{
    background-color: #1a0033;
    color: white;
    border: 0.2rem solid white;
}
.homeb1:hover{
    background-color: white;
    color:black;
}